*.sln
*.sdf
*.vcxproj
*.filters
*.obj
*.tlog
*.manifest
*.suo
*.ply
*.mtl
*.opendb
*.png
*.opensdf
*.user
/code/RGBDCapture/Data/
/code/ExternalIncludes/
/code/ExternalLibs/
**/bin
**/Debug
**/Release
**/include